*{
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face{
	font-family: inder;
	src: url(fontes/Inder-Regular.ttf);
}

@font-face{
	font-family: inter;
	src: url(fontes/Inter-Regular.ttf);
}

main{
  position: relative;
  background-color: #E5E5E5;
}

#purple-background{
  position: relative;
  width: 100%;
  height: 429px;
  background: #9D6BFF;
  border-radius: 0px 0px 35px 0px;
}

/* header inicio*/

header{
  position: relative;
  width: 82%;
  height: 57px;
  background-color: #FFFFFF;
  border-radius: 50px;
  left: 54px;
  top: 39px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: inter;
  font-size: 20px;
}

.nav-title{
  width: 20%;
  height: 30px;
  margin: auto;
}

.nav-title a{
  text-decoration: none;
  color: #000000;
}

.title-purple{
  color: #9D6BFF;
}

.nav-elements{
  width: 60%;
  height: 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-elements a{
  text-decoration: none;
  color: #000000;
}

/*header final*/


/*área do usuário*/

#user-area{
  position: relative;
  width: 20%;
  height: 300px;
  top: 80px;
  float: right;
  border-radius: 0px 0px 35px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info-user img{
  width: 101px;
  height: 101px;
  padding-bottom: 10px;
}

#user-area h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

#user-area p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.edit-area{
  display: flex;
  flex-direction: row;
}

.edit-area a{
  text-decoration: none;
  padding-left: 5px;
}

.edit-area img{
  width: 15px;
  height: 15px;
  
}



/*final da área do usuário*/




/*área de postagens*/


#box-content{
  position: relative;
  width: 72%;
  height: auto;
  margin-left: 100px;
  margin-top: -209px;
  background: #F1F1F1;
  border-radius: 40px;
  font-family: inder;
}

#container-options{
  position: relative;
  text-align: center;
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 39px;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
  flex-wrap: wrap;
}

#option-podcast{
  position: relative;
  width: 196px;
  height: 213px;
  background: #9D6BFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#option-podcast a{
  color: #FFFFFF;
  text-decoration: none;
}

#option-videos{
  position: relative;
  width: 196px;
  height: 213px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

#option-videos a{
  color: #6B2CE8;
  text-decoration: none;
}

#option-noticias{
  position: relative;
  width: 196px;
  height: 213px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

#option-noticias a{
  color: #6B2CE8;
  text-decoration: none;
}

#option-noticias img{
  width: 50px;
  height: 50px;
}

#option-artigos{
  position: relative;
  width: 196px;
  height: 213px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

#option-artigos a{
  color: #6B2CE8;
  text-decoration: none;
}

#container-options h2{
  padding: 30px;
}

#container-posts{
  padding: 45px;
  position: relative;
}

.comment-box{
  position: relative;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 5%;
    
}

.icon-post{
  display: inline-block;
  padding: 20px;
}

.text-comment{
  display: inline-block;
}

.text-comment h4{
  padding-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 19px;
}

.text-comment p{
  padding-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}

.podcast{
  text-align: center;
  padding-bottom: 15px;
}


/*fim da área de postagens*/



/*área de acessibilidade*/

#acessibilidade{
  position: relative;
  float: right;
  width: 20%;
  height: auto;
  top: -900px;
  right: 2px;
}

.acessibilidade-box{
  background: #F6F6F6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 106px;
  height: 89px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box-partition{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.acessibilidade-box p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #9D6BFF;

}

/*fim da área de acessibilidade*/


/********************** footer *******************/

.footer{
  width: 100%;
  height: auto;
  background-color: #9D6BFF;
  font-family: inter;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
}

.footer a{
  text-decoration: none;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.footer h1{
  padding-bottom: 20px;
  padding-top: 50px;
}

.plataforma{
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}

.social{
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contato{
  width: 24%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.elementos{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.elementos img{
  padding-right: 10px;
}

.img-footer{
  width: 25%;
  height: 100%;
}

.img-footer{
  width: 25%;
}

/********************** fim do footer *******************/




@media only screen and (max-width:1206px){  

  .img-footer{
      display: none;
  }

  #user-area{
    display: none;
  }

  #container-posts{
    margin: auto;
    margin-bottom: 100px;
  }

  #container-options ul{
    /* flex-direction: column; */
    justify-content: center;
  }

  #container-options il{
    padding-bottom: 20px;
    align-items: center;
    margin-left: 20px;
    flex-direction: column;
  }

  
  #option-podcast{
    margin-bottom: 30px;
  }

  #option-videos{
    margin-bottom: 30px;
  }

  #option-artigos{
    margin-bottom: 30px;
  }

  #acessibilidade{
    display: none;
  }
}


@media only screen and (max-width:999px){
  .text-name{
    padding: 10px;
  }
}


@media only screen and (max-width:900px){  


  .plataforma{
      display: none;
  }

  .footer{
      flex-direction: column;
      padding-left: 20px;
  }

  .text-comment{
    padding-left: 10px;
  }


}

